* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #DAA520;
}

.container {
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

#boxfirst {
    width: 365px;
    height: 365px;
    border-radius: 12px;
    border: 1px solid #297E40;
    background-color: #297E40;
}

#boxsecond {
    width: 365px;
    height: 365px;
    border-radius: 90px;
    border: 1px solid #8E2877;
    background-color: #8E2877;  
}

#boxthird {
    width: 365px;
    height: 365px;
    border-radius: 20px;
    border: 1px solid #361BA4;
    background-color: #361BA4; 
}
